@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body, html {
  padding: 0;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-weight: 400;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.titles {
  display: block;
  position: relative;
  font-size: 2em;
  padding: 1em;
}

.titles:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background: #202529;
  left: -100%;
  top: 50%;
}

.titles:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background: #202529;
  right: -105%;
  top: 50%;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #202529;
  margin: 0;
  z-index: 9999;
  border-bottom: 2px solid #f9d8ab;
}

header .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 1em;
}

header .brand img {
  width: 35px;
}

header .brand a {
  text-align: left;
  color: #f9d8ab;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
}

header .brand span {
  font-weight: 400;
  color: #f9f9f9;
  display: block;
  font-size: .8em;
}

header .burger {
  z-index: 999;
  margin: 0 1em;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background: #f9d8ab;
}

header .burger:hover {
  transform: translate(-10px, 0);
}

.close {
  visibility: hidden;
  opacity: 0;
  top: 1000px;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  display: flex;
  z-index: 99999;
  background: #292f34;
  letter-spacing: 3px;
}

#menu ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

#menu ul li {
  display: block;
  border-bottom: 1px solid #f9d8ab;
  width: 60%;
  margin: 0 auto;
  padding: 6px 0;
}

#menu ul li:last-child {
  border-bottom: none;
}

#menu ul li a {
  font-weight: 400;
  text-transform: uppercase;
  color: #f9f9f9;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-size: 28px;
}

#menu ul li a:hover {
  color: #f9d8ab;
}

.intro {
  background: url("../assets/bg2.jpg");
  background-size: cover;
  background-origin: content-box;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.intro .container {
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.intro .container .content h1 {
  display: block;
  text-align: center;
  margin: 0;
  font-size: 3.4em;
  color: #202529;
  text-transform: uppercase;
}

.intro .container .content a {
  display: block;
  width: 100px;
  border: 2px solid #f9d8ab;
  color: #f9d8ab;
  padding: 10px;
  font-weight: 700;
  margin: 1em 0;
  background: #202529;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.intro .container .content a:hover, .intro .container .content a:focus {
  outline: none;
  color: #202529;
  background: #f9d8ab;
  border: 2px solid #202529;
  transform: translate(10px, 0);
}

.container {
  margin: 0;
  background: #f9f9f9;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .heading .titles {
  transform: rotate(-90deg);
  position: relative;
  font-size: 2em;
}

.container .heading .titles:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background: #f9d8ab;
  left: -80%;
  top: 50%;
  margin: 0;
  padding: 0;
}

.container .heading .titles:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background: #f9d8ab;
  right: -50%;
  top: 50%;
  margin: 0;
  padding: 0;
}

.services {
  position: relative;
  align-items: center;
  justify-content: center;
}

.services .service-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1512207736890-6ffed8a84e8d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02c0bd4d20ed02596fba642af71d1156&auto=format&fit=crop&w=1358&q=80");
  background-size: cover;
  background-position: center;
  opacity: .08;
}

.services .heading {
  align-self: center;
}

.services .heading .titles {
  color: #202529;
}

.services .service-row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.5em auto;
  text-align: center;
}

.services .service-row .service {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: #202529;
  margin: 0 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.1);
}

.services .service-row .service .service-icon {
  color: #f9d8ab;
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding: 0;
}

.services .service-row .service .service-icon .icon {
  padding: 0;
  margin: 0;
}

.services .service-row .service .service-title {
  text-transform: uppercase;
}

.services .service-row .service .service-title h3 {
  color: #f9f9f9;
  margin: 10px auto;
  padding: 0;
  display: block;
  width: 80%;
}

.services .service-row .service .service-desc {
  text-align: center;
  font-size: 14px;
  width: 80%;
  margin: 0;
}

.services .service-row .service .service-desc p {
  color: #f9f9f9;
  padding: 0;
  margin: 6px 0 0 0;
  text-align: center;
}

.about {
  background: #202529;
  color: #f9f9f9;
}

.about .heading h2 {
  color: #f9d8ab;
}

.about .about-desc-col {
  width: 40%;
}

.about .about-desc-col p {
  color: #f9f9f9;
  line-height: 1.6;
}

.about .why-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.about .why-col .reason {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.about .why-col .reason .icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f9d8ab;
  width: 75px;
  height: 75px;
}

.about .why-col .reason .icon-div i {
  color: #202529;
}

.about .why-col .reason .reason-desc {
  margin: 0 1em;
  width: 100%;
  text-align: center;
}

.contact {
  background: #202529;
}

.contact .heading .titles {
  color: #f9d8ab;
}

.contact .form {
  width: 40%;
}

.contact .form form {
  border-left: 25px solid #f9d8ab;
  color: #f9d8ab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .form form h4 {
  font-weight: 400;
  font-size: 22px;
  color: #f9f9f9;
}

.contact .form form fieldset {
  border: none;
}

.contact .form form label {
  font-weight: 700;
  margin: -1em;
}

.contact .form form label:focus {
  transform: scale(0.8);
}

.contact .form form input,
.contact .form form textarea {
  outline: none;
  width: 550px;
  display: block;
  border: 0;
  border-bottom: 2px solid #f9d8ab;
  background: transparent;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact .form form input:focus,
.contact .form form textarea:focus {
  color: #f9f9f9;
  border-bottom: 2px solid #f9f9f9;
  transform: scale(1.05);
}

.contact .form form button {
  background: transparent;
  border: 2px solid #f9d8ab;
  color: #f9d8ab;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact .form form button:hover {
  background: #f9d8ab;
  color: #202529;
  cursor: pointer;
}

footer {
  background: #f9d8ab;
  display: flex;
  align-items: center;
  padding: 1em 0;
}

footer .contact-details {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .contact-details ul {
  list-style: none;
}

footer .contact-details ul li {
  font-weight: 700;
  margin: 10px 0;
}

footer .contact-details .sm {
  list-style-type: none;
}

footer .contact-details .sm li {
  display: inline-block;
  text-align: center;
  margin: 0 8px;
}

footer .contact-details .sm li a {
  border-radius: 50%;
  color: #f9d8ab;
  padding: 18px;
  background: #202529;
  display: block;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer .contact-details .sm li a:hover {
  transform: scale(1.05);
  z-index: 1000;
}

footer .contact-details .sm li a i {
  width: 18px;
  height: 18px;
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

footer .copyright {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

footer .credit {
  font-weight: 700;
  width: 33.3%;
}

footer .credit a {
  margin: 0;
  color: #f9f9f9;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  z-index: 29;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer .credit a:before {
  margin: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202529;
  top: 0;
  left: 0;
  z-index: -10;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer .credit a:hover:before {
  transform: scale(1.1);
}

.work {
  position: relative;
}

.work .work-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  opacity: .05;
}

.work .heading .titles {
  padding: 1em;
}

.work .work-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.work .work-row .work-gallery {
  display: block;
  margin: 1em;
  cursor: pointer;
}

.work .work-row .work-gallery img {
  width: 300px;
}

@media only screen and (max-width: 1320px) {
  .services .service-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services .service-row .service {
    margin: 1em 0;
  }
  .about .about-desc-col {
    width: 80%;
  }
  .about .about-desc-col p {
    color: #f9f9f9;
    line-height: 1.6;
  }
  .about .why-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
  }
  .about .why-col .reason {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .about .why-col .reason .icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f9d8ab;
    width: 75px;
    height: 75px;
  }
  .about .why-col .reason .icon-div i {
    color: #202529;
  }
  .about .why-col .reason .reason-desc {
    margin: 0 1em;
    width: 80%;
    text-align: center;
  }
  .contact {
    background: #202529;
  }
  .contact .heading .titles {
    color: #f9d8ab;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form form {
    border-left: 15px solid #f9d8ab;
    color: #f9d8ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .form form h4 {
    font-weight: 400;
    font-size: 22px;
    color: #f9f9f9;
  }
  .contact .form form fieldset {
    border: none;
  }
  .contact .form form label {
    font-weight: 700;
    margin: -1em;
  }
  .contact .form form label:focus {
    transform: scale(0.8);
  }
  .contact .form form input,
  .contact .form form textarea {
    outline: none;
    width: 320px;
    display: block;
    border: 0;
    border-bottom: 2px solid #f9d8ab;
    background: transparent;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .contact .form form input:focus,
  .contact .form form textarea:focus {
    color: #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
    transform: scale(1.05);
  }
  .contact .form form button {
    background: transparent;
    border: 2px solid #f9d8ab;
    color: #f9d8ab;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .contact .form form button:hover {
    background: #f9d8ab;
    color: #202529;
    cursor: pointer;
  }
  .work {
    position: relative;
  }
  .work .work-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    opacity: .05;
  }
  .work .heading .titles {
    padding: 1em;
  }
  .work .work-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .work .work-row .work-gallery {
    display: block;
    margin: 1em;
    cursor: pointer;
  }
  .work .work-row .work-gallery img {
    width: 300px;
  }
  footer {
    background: #f9d8ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    font-size: 14px;
  }
  footer .contact-details {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .contact-details ul {
    list-style: none;
  }
  footer .contact-details ul li {
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
  }
  footer .contact-details .sm {
    list-style-type: none;
    text-align: center;
  }
  footer .contact-details .sm li {
    display: inline-block;
    text-align: center;
    margin: 0 8px;
  }
  footer .contact-details .sm li a {
    border-radius: 50%;
    color: #f9d8ab;
    padding: 18px;
    background: #202529;
    display: block;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  footer .contact-details .sm li a:hover {
    transform: scale(1.05);
    z-index: 10000;
  }
  footer .contact-details .sm li a i {
    width: 18px;
    height: 18px;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  footer .copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    margin: 1em auto;
  }
  footer .credit {
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .credit a {
    color: #f9f9f9;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    z-index: 29;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  footer .credit a:before {
    margin: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #202529;
    top: 0;
    left: 0;
    z-index: -10;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  footer .credit a:hover:before {
    transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */