//Variables
$bg: #202529;
$main: #f9d8ab;
$white: #f9f9f9;
//mixins
@mixin transition {
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, html {
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 400;
    overflow-x: hidden;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.titles {
    display: block;
    position: relative;
    font-size: 2em;
    padding: 1em;
    &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background: $bg;
        left: -100%;
        top: 50%;
        ;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background: $bg;
        right: -105%;
        top: 50%;
        ;
    }
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: $bg;
    margin: 0;
    z-index: 9999;
    border-bottom: 2px solid $main;
    .brand {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            width: 35px;
        }
        text-align: left;
        margin: 0 1em;
        a {
            text-align: left;
            color: $main;
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 700;
        }
        span {
            font-weight: 400;
            color: $white;
            display: block;
            font-size: .8em;
        }
    }
    .burger {
        z-index: 999;
        margin: 0 1em;
        @include transition();
        cursor: pointer;
        span {
            display: block;
            width: 35px;
            height: 5px;
            margin: 6px 0;
            background: $main;
        }
        &:hover {
            transform: translate(-10px, 0);
        }
    }
}

.close {
    visibility: hidden;
    opacity: 0;
    top: 1000px;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height:300px;
    display: flex;
    z-index: 99999;
    background: $bg *1.28;
    letter-spacing: 3px;
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        text-align: center;
        li {
            display: block;
            border-bottom: 1px solid $main;
            width: 60%;
            margin: 0 auto;
            padding: 6px 0;
            &:last-child {
                border-bottom: none;
            }
            a {
                font-weight: 400;
                text-transform: uppercase;
                color: $white;
                @include transition();
                font-size: 28px;
                &:hover {
                    color: $main;
                }
            }
        }
    }
}

.intro {
    background: url("../assets/bg2.jpg");
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    .container {
        margin: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #ffffff, $alpha: 0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            h1 {
                display: block;
                text-align: center;
                margin: 0;
                font-size: 3.4em;
                color: $bg;
                text-transform: uppercase;
            }
            a {
                display: block;
                width: 100px;
                border: 2px solid $main;
                color: $main;
                padding: 10px;
                font-weight: 700;
                margin: 1em 0;
                background: $bg;
                @include transition();
                &:hover,
                &:focus {
                    outline: none;
                    color: $bg;
                    background: $main;
                    border: 2px solid $bg;
                    transform: translate(10px, 0);
                }
            }
        }
    }
}

.container {
    margin: 0;
    background: $white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titles {
            transform: rotate(-90deg);
            position: relative;
            font-size: 2em;
            &:before {
                content: '';
                position: absolute;
                width: 100px;
                height: 1px;
                background: $main;
                left: -80%;
                top: 50%;
                margin: 0;
                padding: 0;
            }
            &:after {
                content: '';
                position: absolute;
                width: 100px;
                height: 1px;
                background: $main;
                right: -50%;
                top: 50%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.services {
    position: relative;
    align-items: center;
    justify-content: center;
    .service-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("https://images.unsplash.com/photo-1512207736890-6ffed8a84e8d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02c0bd4d20ed02596fba642af71d1156&auto=format&fit=crop&w=1358&q=80");
        background-size: cover;
        background-position: center;
        opacity: .08;
    }
    .heading {
        align-self: center;
        .titles {
            color: $bg;
        }
    }
    .service-row {
        
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1.5em auto;
        text-align: center;
        .service {
            border-radius: 50%;
            width: 300px;
            height: 300px;
            background: $bg;
            margin: 0 1.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.1);
            .service-icon {
                color: $main;
                width: 30px;
                height: 30px;
                font-size: 30px;
                padding: 0;
                .icon {
                    //color: $bg;
                    padding: 0;
                    margin: 0;
                }
            }
            .service-title {
                text-transform: uppercase;
                h3 {
                    color: $white;
                    margin: 10px auto; //text-align: center;
                    padding: 0;
                    display: block;
                    width: 80%;
                }
            }
            .service-desc {
                text-align: center;
                font-size: 14px;
                width: 80%;
                margin: 0;
                p {
                    color: $white;
                    padding: 0;
                    margin: 6px 0 0 0;
                    text-align: center;
                }
            }
        }
    }
}

.about {
    background: $bg;
    color: $white;
    .heading {
        h2 {
            color: $main;
        }
    }
    .about-desc-col {
        width: 40%;
        p {
            color: $white;
            line-height: 1.6;
        }
    }
    .why-col {
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        .reason {
            margin: 1em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            .icon-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: $main;
                width: 75px;
                height: 75px;
                i {
                    color: $bg;
                }
            }
            .reason-desc {
                margin: 0 1em;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.contact {
    background: $bg;
    .heading {
        .titles {
            color: $main;
        }
    }
    .form {
        width: 40%;
        form {
            border-left: 25px solid $main;
            h4 {
                font-weight: 400;
                font-size: 22px;
                color: $white;
            }
            color: $main;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            fieldset {
                border: none;
            }
            label {
                font-weight: 700;
                margin: -1em;
                &:focus {
                    transform: scale(0.8);
                }
            }
            input,
            textarea {
                outline: none;
                width: 550px;
                display: block;
                border: 0;
                border-bottom: 2px solid $main; //border: none;
                background: transparent;
                @include transition();
                &:focus {
                    color: $white;
                    border-bottom: 2px solid $white;
                    transform: scale(1.05);
                }
            }
            button {
                background: transparent;
                border: 2px solid $main;
                color: $main;
                text-transform: uppercase;
                font-weight: bold;
                padding: 12px;
                @include transition();
                &:hover {
                    background: $main;
                    color: $bg;
                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    background: $main;
    display: flex;
    align-items: center;
    padding: 1em 0;
    .contact-details {
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            list-style: none;
            li {
                font-weight: 700;
                margin: 10px 0;
            }
        }
        .sm {
            list-style-type: none;
            li {
                display: inline-block;
                text-align: center;
                margin: 0 8px;
                a {
                    border-radius: 50%;
                    color: $main;
                    padding: 18px;
                    background: $bg;
                    display: block;
                    @include transition();
                    &:hover {
                        transform: scale(1.05);
                        z-index: 1000;
                    }
                    i {
                        width: 18px;
                        height: 18px;
                        display: block;
                        font-size: 18px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    .copyright {
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
    }
    .credit {
        font-weight: 700;
        width: 33.3%;
        a {
            margin: 0;
            color: $white; //background: $bg;
            text-transform: uppercase;
            padding: 10px;
            position: relative;
            z-index: 29;
            @include transition();
            &:before {
                margin: 0;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $bg;
                top: 0;
                left: 0;
                z-index: -10;
                @include transition();
            }
            &:hover:before {
                transform: scale(1.1);
            }
        }
    }
}

.work {
    position: relative;
    .work-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-size: cover;
        background-position: center;
        opacity: .05;
    }
    .heading {
        .titles {
            padding: 1em;
        }
    }
    .work-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .work-gallery {
            display: block;
            margin: 1em;
            cursor: pointer;
            img {
                width: 300px;
            }
        }
    }
}
@media only screen and (max-width: 1320px){
    .services{
        .service-row{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .service{
                margin: 1em 0;

            }
        }
    }
    .about{
        .about-desc-col {
            width: 80%;
            p {
                color: $white;
                line-height: 1.6;
            }
        }

        .why-col {
            // width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 1em;
            .reason {
                margin: 1em 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                .icon-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: $main;
                    width: 75px;
                    height: 75px;
                    i {
                        color: $bg;
                    }
                }
                .reason-desc {
                    margin: 0 1em;
                    width: 80%;
                    text-align: center;
                }
            }
        }
    }
    .contact {
        background: $bg;
        .heading {
            .titles {
                color: $main;
            }
        }
        .form {
            width: 100%;
            form {
                border-left: 0px solid transparent;
                h4 {
                    font-weight: 400;
                    font-size: 22px;
                    color: $white;
                }
                color: $main;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                fieldset {
                    border: none;
                }
                label {
                    font-weight: 700;
                    margin: -1em;
                    &:focus {
                        transform: scale(0.8);
                    }
                }
                input,
                textarea {
                    outline: none;
                    width: 320px;
                    display: block;
                    border: 0;
                    border-bottom: 2px solid $main; //border: none;
                    background: transparent;
                    @include transition();
                    &:focus {
                        color: $white;
                        border-bottom: 2px solid $white;
                        transform: scale(1.05);
                    }
                }
                button {
                    background: transparent;
                    border: 2px solid $main;
                    color: $main;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 12px;
                    @include transition();
                    &:hover {
                        background: $main;
                        color: $bg;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .work {
        position: relative;
        .work-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-position: center;
            opacity: .05;
        }
        .heading {
            .titles {
                padding: 1em;
            }
        }
        .work-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .work-gallery {
                display: block;
                margin: 1em;
                cursor: pointer;
                img {
                    width: 300px;
                }
            }
        }
    }
    footer {
        background: $main;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        font-size: 14px;
        .contact-details {
            margin: 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                list-style: none;
                li {
                    font-weight: 700;
                    margin: 10px 0;
                    text-align: center;
                }
            }
            .sm {
                list-style-type: none;
                text-align: center;
                li {
                    display: inline-block;
                    text-align: center;
                    margin: 0 8px;
                    a {
                        border-radius: 50%;
                        color: $main;
                        padding: 18px;
                        background: $bg;
                        display: block;
                        @include transition();
                        &:hover {
                            transform: scale(1.05);
                            z-index: 10000;
                        }
                        i {
                            width: 18px;
                            height: 18px;
                            display: block;
                            font-size: 18px;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .copyright {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 700;
            margin: 1em auto;
        }
        .credit {
            font-weight: 700;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                color: $white; //background: $bg;
                text-transform: uppercase;
                padding: 5px;
                position: relative;
                z-index: 29;
                @include transition();
                &:before {
                    margin: 0;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $bg;
                    top: 0;
                    left: 0;
                    z-index: -10;
                    @include transition();
                }
                &:hover:before {
                    transform: scale(1.1);
                }
            }
        }
    }
}